* {
  font-family: inter;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/assets/img/bounchouse.jpg");
  width: 100%;
  height: 75vh;
  background-size: cover;
}

.container {
  padding: 0px;
}

.container .navbar {
  box-shadow: 0px 1px 7px 23px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px 1px 7px 23px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 1px 7px 23px rgba(0, 0, 0, 0.65);
}

.container-fluid .branding {
  position: relative;
  background: url(/src/assets/img/Logo.svg);
  width: 100px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.collapse {
  justify-content: flex-end;
}

.collapse .nav-link {
  color: #fff !important;
}

.row .col {
  margin-top: 80px;
}

.brisbane {
  font-size: 2rem;
  color: #fc6a10;
  font-weight: 800;
  line-height: 1.5;
}

.easy {
  display: block;
}

.castle {
  font-size: 1rem;
  margin-top: 10px;
  color: #fff;
}

.booking {
  border-radius: 20px;
  margin-bottom: 30px;
  padding-right: 20px;
}

.booking .row {
  padding-left: 10px;
}

.booking .card {
  border-radius: 10px;
  padding: 0px;
}

.booking .col-md-4 {
  padding: 0px;
}
.booking .card-body {
  text-align: start;
  line-height: 2;
  margin-top: 25px;
}

.booking .card-title {
  color: #fc6a10;
  font-weight: 600;
  margin-bottom: 30px;
}

.booking .items {
  margin-top: 20px;
  font-size: 0.8rem;
}

.booking .boook {
  height: 351px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.booking .card-text {
  margin-top: 50px;
  font-size: 1rem;
  font-weight: 500;
}

.booking .col-md-4 {
  border-radius: 10px;
}

.booking-contents {
  display: flex;
  justify-content: flex-start;
}

.booking-contents img {
  margin-left: 0px;
  width: 50px;
  filter: invert(66%) sepia(57%) saturate(6559%) hue-rotate(354deg)
    brightness(101%) contrast(98%);
}

.touch {
  background-color: #fc6a10;
  height: 120px;
}

.touch .col-md-auto {
  border: 1px solid black;
  margin: 10px 6px 10px 10px;
  padding: 10px;
  height: 50px;
  width: 50%;
  background-color: #fff;
  border-radius: 6px;
}

.touch .content {
  color: rgb(153, 151, 151);
  font-size: 0.8rem;
  text-align: start;
  margin-top: 7px;
  padding-left: 20px;
}

.touch .col-lg-2 {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  height: 50px;
  width: 30%;
  background-color: #000;
  border-radius: 6px;
  color: #fff;
  margin-left: 0px;
  font-size: 1rem;
}

.touch .stay {
  margin-top: 20px;
  color: #fff;
}

.touch .stay-in {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2px;
}

.touch .subscribe {
  background-color: #000;
  color: #fff;
  font-size: 0.8rem;
}

.footer {
  background-color: #111111;
}

.footer .active {
  color: #fc6a10;
  text-align: start;
}

.footer .pages {
  font-size: 1.2rem;
}

.footer .col {
  margin-top: 20px;
}

.footer .link {
  color: #fff;
  text-align: start;
}

.footer .footer-text {
  color: #fff;
  font-size: 0.8rem;
  text-align: initial;
  margin-bottom: 40px;
  margin-top: 20px;
}

.footer .social {
  display: flex;
  justify-content: start;
  color: #fff;
}

.footer .socials {
  padding-right: 0px;
}
.footer i {
  color: #fff;
}
