.contact .form-label {
  display: flex;
}

.general {
  margin-top: 10px;
}

.contact .form-control {
  width: 100%;
  border: 1px solid #fc6a10;
  background-color: white;
  color: #fff;
  border-radius: 5px;
}

.contact .btn-primary {
  background-color: #fc6a10;
  border-color: #fc6a10;
  font-size: 1.3rem;
  font-weight: 500;
  width: 20%;
}

.contact .stuck {
  color: #fc6a10;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 5px;
}

.contact .row-stuck {
  margin-bottom: 10px;
}
